Repository mintel/pytest-localstack: changes, and which Codecov flags are due for each by the changed paths.
All: contrib, botocore, boto3

Try starting existing container before creating a new one
  Makefile
  Pipfile.lock
  pytest_localstack/session.py
Due: none

Merge from master
  .gitignore
  .travis.yml
  CHANGELOG.rst
  Makefile
  Pipfile.lock
  pytest_localstack/constants.py
  pytest_localstack/contrib/botocore.py
  pytest_localstack/service_checks.py
  pytest_localstack/utils.py
  setup.cfg
  tests/integration/test_contrib/test_botocore.py
  tests/unit/test_utils.py
Due: contrib, botocore

Update CHANGELOG
  CHANGELOG.rst
Due: none

Add KMS service
  CHANGELOG.rst
  pytest_localstack/constants.py
  pytest_localstack/service_checks.py
Due: none

Use botocore health check for EventBridge
  pytest_localstack/service_checks.py
Due: none

Allow LocalstackSession to take hostname argument
  pytest_localstack/session.py
Due: none

Replace Pipenv with Poetry
  .bumpversion.cfg
  .coveragerc
  .editorconfig
  .gitignore
  .pre-commit-config.yaml
  .travis.yml
  MANIFEST.in
  Makefile
  Pipfile
  Pipfile.lock
  docs/Makefile
  docs/conf.py
  poetry.lock
  pyproject.toml
  pytest_localstack/__init__.py
  pytest_localstack/_version.py
  pytest_localstack/constants.py
  pytest_localstack/contrib/boto3.py
  pytest_localstack/contrib/botocore.py
  pytest_localstack/exceptions.py
  pytest_localstack/hookspecs.py
  pytest_localstack/plugin.py
  pytest_localstack/service_checks.py
  pytest_localstack/session.py
  pytest_localstack/utils.py
  setup.cfg
  setup.py
  tests/__init__.py
  tests/functional/test_container.py
  tests/functional/test_patch_fixture/test_README.py
  tests/functional/test_patch_fixture/test_services_available.py
  tests/functional/test_service_fixture/test_README.py
  tests/functional/test_service_fixture/test_services_available.py
  tests/integration/test_contrib/test_boto3.py
  tests/unit/test_container.py
  tests/unit/test_session.py
  tests/unit/test_utils.py
  tests/utils.py
Due: contrib, botocore, boto3

Add type hinting to __init__.py
  pytest_localstack/__init__.py
Due: none

Use bare super()s
  pytest_localstack/container.py
  pytest_localstack/contrib/botocore.py
  pytest_localstack/exceptions.py
  pytest_localstack/session.py
Due: contrib, botocore

Move patch_fixture() to pytest_localstack
  pytest_localstack/__init__.py
  pytest_localstack/contrib/botocore.py
  tests/functional/test_patch_fixture/test_README.py
  tests/functional/test_patch_fixture/test_services_available.py
Due: contrib, botocore

Move botocore to pytest_localstack
  pytest_localstack/__init__.py
  pytest_localstack/botocore.py
  pytest_localstack/session.py
  tests/integration/test_contrib/test_botocore.py
Due: none

Reorder test imports
  pyproject.toml
  tests/integration/test_contrib/test_boto3.py
  tests/integration/test_contrib/test_botocore.py
  tests/unit/test_container.py
  tests/unit/test_session.py
Due: none

add new arguments to the LocalstackEndpointResolver.construct_endpoint method
  poetry.lock
  pytest_localstack/contrib/botocore.py
Due: contrib, botocore

Update poetry.lock
  poetry.lock
Due: none

Release v0.5.0
  CHANGELOG.rst
  pyproject.toml
Due: none

Get the default Localstack hostname from the `DOCKER_HOST` env var
  CHANGELOG.rst
  docs/conf.py
  poetry.lock
  pyproject.toml
  pytest_localstack/session.py
Due: none

Protect starting/stopping the Localstack container with a lock
  CHANGELOG.rst
  pytest_localstack/session.py
Due: none

Update pyproject.toml
  pyproject.toml
Due: none

Feat: Allow passing environment variables in to container
  pytest_localstack/session.py
Due: none

Update to docker 6.0.0, dropping python 3.6 from supported versions
  .travis.yml
  pyproject.toml
Due: none

Bump version number
  pyproject.toml
Due: none

Rev dependencies
  poetry.lock
  pyproject.toml
Due: none

Fix dependencies
  poetry.lock
  pyproject.toml
Due: none

fmt
  pytest_localstack/session.py
  tests/integration/test_contrib/test_botocore.py
Due: none

Update .pre-commit-config to fix warnings
  .pre-commit-config.yaml
Due: none

Update
  pytest_localstack/contrib/botocore.py
Due: contrib, botocore

Add support for KMS
  pytest_localstack/constants.py
  pytest_localstack/service_checks.py
Due: none

Update dependencies for Python 3.12 compatibility
  pyproject.toml
Due: none

update dependencies
  poetry.lock
  pyproject.toml
Due: none

uddate build system
  pyproject.toml
Due: none

fix args thing
  pytest_localstack/contrib/botocore.py
Due: contrib, botocore

update dependencies
  pyproject.toml
Due: none

relax urllib3 pin to >=2.7.0 (raise python floor to 3.10)
  poetry.lock
  pyproject.toml
Due: none

Switch build backend to poetry-core
  pyproject.toml
Due: none

Path conditions:
  contrib: any of: pytest_localstack/contrib/
  botocore: any of: pytest_localstack/contrib/botocore.py
  boto3: any of: pytest_localstack/contrib/boto3.py
