Repository mintel/pytest-localstack: changes, and which Codecov flags are due for each by the changed paths.
All: contrib, botocore, boto3

.codecov.yml:

codecov:
  branch: master

coverage:
  range: 50..90
  round: down
  precision: 2
  status:
    project:
      default:
        threshold: "1%"
    patch:
      default:
        threshold: "1%"

flags:
  contrib:
    paths:
      - pytest_localstack/contrib/
  botocore:
    paths:
      - pytest_localstack/contrib/botocore.py
  boto3:
    paths:
      - pytest_localstack/contrib/boto3.py

Update CHANGELOG
  CHANGELOG.rst
Due: none

Fix Makefile lint command
  Makefile
Due: none

fmt
  pytest_localstack/contrib/botocore.py
Due: contrib, botocore

pipenv lock
  Pipfile.lock
Due: none

Override deploy stage during lint
  .travis.yml
Due: none

Move deploy to it's own stage
  .travis.yml
Due: none

Fix deploy stage
  .travis.yml
Due: none

Bump version: 0.3.0 -> 0.3.1
  .bumpversion.cfg
  pytest_localstack/_version.py
Due: none

Make deploy work on tags
  .travis.yml
Due: none

Cleanup boto3.DEFAULT_SESSION when patches exit
  pytest_localstack/contrib/botocore.py
Due: contrib, botocore

Don't error if boto3 isn't installed
  pytest_localstack/contrib/botocore.py
Due: contrib, botocore

Add botocore service check for cloudformation
  pytest_localstack/service_checks.py
Due: none

Bump version: 0.3.1 -> 0.3.2
  .bumpversion.cfg
  pytest_localstack/_version.py
Due: none

Add more services
  CHANGELOG.rst
  pytest_localstack/constants.py
  pytest_localstack/service_checks.py
Due: none

Update list of services in README
  README.rst
Due: none

Fix year in CHANGELOG
  CHANGELOG.rst
Due: none

Bump version: 0.3.2 -> 0.4.0
  .bumpversion.cfg
  pytest_localstack/_version.py
Due: none

Remove deprecated rst check during linting
  Makefile
Due: none

Raise TimeoutErrors from causing exceptions
  CHANGELOG.rst
  pytest_localstack/service_checks.py
  pytest_localstack/session.py
Due: none

Use more botocore client-based service checks
  CHANGELOG.rst
  pytest_localstack/service_checks.py
Due: none

Bump version: 0.4.0 -> 0.4.1
  .bumpversion.cfg
  pytest_localstack/_version.py
Due: none

Make localstack image name configurable
  pytest_localstack/__init__.py
  pytest_localstack/contrib/botocore.py
  pytest_localstack/session.py
Due: contrib, botocore

Add events support
  pytest_localstack/constants.py
  pytest_localstack/service_checks.py
Due: none

Change to use single localstack port
  pytest_localstack/constants.py
Due: none

Allow single port localstack versions. Fix patching STS endpoint_url.
  .gitignore
  Makefile
  Pipfile.lock
  pytest_localstack/constants.py
  pytest_localstack/contrib/botocore.py
  pytest_localstack/session.py
  tests/integration/test_contrib/test_botocore.py
Due: contrib, botocore

Prevent sts global endpoint override on localstack session creation
  pytest_localstack/contrib/botocore.py
Due: contrib, botocore

Fix travis-ci IO error from pytest -k flag.
  .travis.yml
Due: none

make fmt
  pytest_localstack/contrib/botocore.py
  pytest_localstack/service_checks.py
Due: contrib, botocore

Remove dependencies for parsing localstack version numbers
  pytest_localstack/constants.py
  pytest_localstack/session.py
  pytest_localstack/utils.py
  tests/unit/test_utils.py
Due: none

isort 5
  setup.cfg
Due: none

Fail tests for Python 3.8; add 3.9-dev
  .travis.yml
Due: none

Drop support for Python < 3.6
  CHANGELOG.rst
  Pipfile.lock
  pytest_localstack/contrib/boto3.py
  pytest_localstack/contrib/botocore.py
  pytest_localstack/service_checks.py
  pytest_localstack/session.py
  pytest_localstack/utils.py
  setup.py
  tests/functional/test_patch_fixture/test_services_available.py
  tests/functional/test_service_fixture/test_services_available.py
Due: contrib, botocore, boto3

Add type annotations
  Pipfile
  Pipfile.lock
  pytest_localstack/__init__.py
  pytest_localstack/container.py
  pytest_localstack/contrib/boto3.py
  pytest_localstack/exceptions.py
  pytest_localstack/hookspecs.py
  pytest_localstack/plugin.py
  pytest_localstack/service_checks.py
  pytest_localstack/session.py
  pytest_localstack/utils.py
  tests/functional/conftest.py
  tests/functional/test_container.py
  tests/functional/test_patch_fixture/test_README.py
  tests/functional/test_patch_fixture/test_services_available.py
  tests/functional/test_service_fixture/test_services_available.py
  tests/functional/test_session.py
  tests/integration/test_contrib/test_boto3.py
  tests/integration/test_plugin.py
  tests/unit/test_container.py
  tests/unit/test_session.py
  tests/unit/test_utils.py
Due: contrib, boto3

Support persistent data
  pytest_localstack/session.py
Due: none

Support for volumes on container start
  pytest_localstack/session.py
Due: none
