Repository mintel/pytest-localstack: changes, and which Codecov flags are due for each by the changed paths.
All: contrib, botocore, boto3

Use black code style formatter
  .bumpversion.cfg
  .pre-commit-config.yaml
  .travis.yml
  Makefile
  Pipfile
  Pipfile.lock
  docs/conf.py
  examples/sync_buckets/sync_buckets.py
  examples/sync_buckets/test_sync_buckets.py
  pytest_localstack/__init__.py
  pytest_localstack/_version.py
  pytest_localstack/constants.py
  pytest_localstack/container.py
  pytest_localstack/contrib/boto3.py
  pytest_localstack/contrib/botocore.py
  pytest_localstack/exceptions.py
  pytest_localstack/service_checks.py
  pytest_localstack/session.py
  pytest_localstack/utils.py
  setup.cfg
  setup.py
  tests/__init__.py
  tests/functional/conftest.py
  tests/functional/test_container.py
  tests/functional/test_patch_fixture/test_README.py
  tests/functional/test_patch_fixture/test_services_available.py
  tests/functional/test_service_fixture/test_README.py
  tests/functional/test_service_fixture/test_services_available.py
  tests/functional/test_session.py
  tests/integration/test_contrib/test_boto3.py
  tests/integration/test_contrib/test_botocore.py
  tests/integration/test_plugin.py
  tests/unit/test_container.py
  tests/unit/test_session.py
  tests/unit/test_utils.py
  tests/utils.py
Due: contrib, botocore, boto3

Bump version: 0.1.1.post1 -> 0.1.2
  .bumpversion.cfg
  pytest_localstack/_version.py
Due: none

setup.py classifiers should be a list
  setup.py
Due: none

Update pypi url
  Pipfile
  Pipfile.lock
Due: none

increase test_check_proxy_env_vars hypothesis deadline
  tests/unit/test_utils.py
Due: none

Use _internal_components with botocore >= 1.10.58
  Pipfile.lock
  pytest_localstack/contrib/botocore.py
  tests/integration/test_contrib/test_botocore.py
Due: contrib, botocore

Update CHANGELOG
  CHANGELOG.rst
Due: none

Switch to advbumpversion
  Pipfile
  Pipfile.lock
Due: none

v0.1.3
  .bumpversion.cfg
  pytest_localstack/_version.py
Due: none

bump patch
  .bumpversion.cfg
  CHANGELOG.rst
  pytest_localstack/_version.py
Due: none

Remove pluggy upper version requirement
  Pipfile.lock
  setup.py
Due: none

Update Pipfile.lock
  Pipfile.lock
Due: none

Bump patch version
  .bumpversion.cfg
  CHANGELOG.rst
  pytest_localstack/_version.py
Due: none

Fix _internal_components handling
  Pipfile.lock
  pytest_localstack/contrib/botocore.py
Due: contrib, botocore

Bump patch version
  .bumpversion.cfg
  pytest_localstack/_version.py
Due: none

Add list of services to README
  README.rst
Due: none

pipenv lock
  Pipfile.lock
Due: none

Add comment explaining botocore patching
  pytest_localstack/contrib/botocore.py
Due: contrib, botocore

Use xenial for travis-CI tests
  .travis.yml
Due: none

Update travis-CI python versions
  .travis.yml
Due: none

Fix version typo
  pytest_localstack/__init__.py
  pytest_localstack/contrib/botocore.py
  pytest_localstack/session.py
Due: contrib, botocore

Fix travis python versions
  .travis.yml
Due: none

Fix container echo tests
  tests/functional/test_container.py
Due: none

try some other debugging stuff
  .travis.yml
Due: none

additional travis env debugging
  .travis.yml
Due: none

Add some debug stuff to .travis.yml
  .travis.yml
Due: none

Use docker-py 3 tag= kwarg in image pulls
  pytest_localstack/session.py
  setup.py
  tests/functional/test_session.py
Due: none

Stop treating warnings during tests as errors
  setup.cfg
Due: none

Refactor .travis.yml
  .travis.yml
Due: none

Stop testing on Python 3.4 and 3.5
  .travis.yml
Due: none

Add request to fixtures using _make_session, and update _make_session to use request.config instead of pytest.config
  pytest_localstack/__init__.py
  pytest_localstack/contrib/botocore.py
Due: contrib, botocore

Drop Python 2.7 support
  .travis.yml
  README.rst
Due: none

Remove snarky comment
  README.rst
Due: none

New Pipfile.lock hashes
  Pipfile.lock
Due: none

Removing default region, use what boto provides unless specified otherwise
  pytest_localstack/__init__.py
  pytest_localstack/constants.py
  pytest_localstack/contrib/boto3.py
  pytest_localstack/contrib/botocore.py
  pytest_localstack/session.py
Due: contrib, botocore, boto3

Path conditions:
  contrib: any of: pytest_localstack/contrib/
  botocore: any of: pytest_localstack/contrib/botocore.py
  boto3: any of: pytest_localstack/contrib/boto3.py
